[Unit]
Description=Motion detector

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/opt/vc/bin
Type=simple
ExecStart=/home/pi/motiondetector/detector.py
Restart=always

[Install]
WantedBy=multi-user.target
